.title .kitchen-title {
    text-align: center;
}
.p .kitchen-title {
    text-align: center;
}
.slick-prev:before, .slick-next:before { 
    color:#E0C341 !important;
}
.slickslide {
    height: 200px !important;
    width: auto;
    /* height:132px */
}

.content {
    object-fit: scale-down !important;
    margin: auto;
}

