<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gramleys | Dashboard</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
    <link rel="stylesheet" type="text/css" href="../css/dashboard.css">
    
</head>
<body class="hold-transition skin sidebar-mini">
<div class="wrapper">
<header class="main-header">
        <a href="/" class="logo">
          Gramleys
        </a>
        <nav class="navbar navbar-static-top justify-content-end" role="navigation">
          <div class="float-right navbar-custom-menu">
            <ul class="nav navbar-nav">
              <li class="dropdown user user-menu float-right">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="img/avatar5.png" class="user-image" alt="User Image">
                  <span class="hidden-xs">Asim Ansari</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div>
                      <a href="#" class="btn btn-default btn-flat">Edit Profile</a>
                    </div>
                    <div>
                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </nav>
  </header>

  <div class="main-sidebar" >
        <div class="sidebar">
          <div class="user-panel">
            <div class="float-left image">
              <img src="img/avatar5.png" class="img-fluid rounded-circle" alt="User Image">
            </div>
            <div class="info">
              <p>Asim Ansari</p>
              <small>@Metalingus</small>
            </div>
          </div>
 <!-- Sidebar Menu -->
          <ul class="sidebar-menu">
            <li class="active"><span>Age<span class="float-right">21</span></span></li>
            <li class="active"><span>Weight</span></li>
            <li class="active"><span>Height</span></li>
            <li class="active"><span>BMI</span></li>
            <li class="active"><span>Health Tags</span></li>
          </ul>
        </div>
      </div>


<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Main content -->
    <section class="content container-fluid">
      <h2><span class="neworder"><i class="fas fa-utensils"></i></span> Create a new order</h2>
       <div class="meal">
    <h2>Breakfast</h2>
    <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#menu1">Menu 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="menu1" class="container-fluid tab-pane active"><br>
     {{!--  <button class="btn btn-subscribe"><span><i class="fas fa-star"></i></span>Subscribe to Menu 1</button> --}}
      <div class="row">
         <div class="col-sm-6 col-md-4 col-lg-2">
          <h5>Monday</h5>
          <div class="meal-img">
        <img class=" rounded-circle" src="img/3.jpg">
        </div>
        <div class="mealinfo">
        <h5 class="name">HomeStyle #1</h5>
        <div class="btn-wrapper"  > 
         <button class="btn btn-cart"><span><i class="fas fa-shopping-cart"></i></span>Add to cart</button>
        <button class="btn btn-buy"><span><i class="fas fa-bolt"></i></span>Buy Now</button>
        </div>
        </div>
        </div>
         <div class="col-sm-6 col-md-4 col-lg-2 ">
          <h5>Tuesday</h5>
          <div class="meal-img">
        <img class=" rounded-circle" src="img/1.jpg">
        </div>
        <div class="mealinfo">
        <h5 class="name">HomeStyle #2</h5>
        <div class="btn-wrapper"  > 
        <button class="btn btn-cart"><span><i class="fas fa-shopping-cart"></i></span>Add to cart</button>
        <button class="btn btn-buy"><span><i class="fas fa-bolt"></i></span>Buy Now</button>
      </div>
        </div>
        </div>
         <div class="col-sm-6 col-md-4 col-lg-2">
          <h5>Wednesday</h5>
          <div class="meal-img">
        <img class=" rounded-circle" src="img/2.jpg">
        </div>
        <div class="mealinfo">
        <h5 class="name">HomeStyle #1</h5>
        <div class="btn-wrapper"  > 
       <button class="btn btn-cart"><span><i class="fas fa-shopping-cart"></i></span>Add to cart</button>
        <button class="btn btn-buy"><span><i class="fas fa-bolt"></i></span>Buy Now</button>
      </div>
        </div>
        </div>
         <div class="col-sm-6 col-md-4 col-lg-2">
          <h5>Thursday</h5>
          <div class="meal-img">
        <img class=" rounded-circle" src="img/3.jpg">
      </div>
        <div class="mealinfo">
        <h5 class="name">HomeStyle #1</h5>
        <div class="btn-wrapper"  > 
        <button class="btn btn-cart"><span><i class="fas fa-shopping-cart"></i></span>Add to cart</button>
        <button class="btn btn-buy"><span><i class="fas fa-bolt"></i></span>Buy Now</button>
      </div>
        </div>
        </div>
         <div class="col-sm-6 col-md-4 col-lg-2">
          <h5>Friday</h5>
          <div class="meal-img">
        <img class=" rounded-circle" src="img/1.jpg">
        </div>
        <div class="mealinfo">
        <h5 class="name">HomeStyle #1</h5>
        <div class="btn-wrapper"  > 
       <button class="btn btn-cart"><span><i class="fas fa-shopping-cart"></i></span>Add to cart</button>
        <button class="btn btn-buy"><span><i class="fas fa-bolt"></i></span>Buy Now</button>
      </div>
        </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
          <h5>Saturday</h5>
          <div class="meal-img">
        <img class=" rounded-circle" src="img/1.jpg">
        </div>
        <div class="mealinfo">
        <h5 class="name">HomeStyle #1</h5>
        <div class="btn-wrapper"  > 
       <button class="btn btn-cart"><span><i class="fas fa-shopping-cart"></i></span>Add to cart</button>
        <button class="btn btn-buy"><span><i class="fas fa-bolt"></i></span>Buy Now</button>
      </div>
        </div>
        </div>
      </div>
    </div>
    <div id="menu2" class="container tab-pane fade"><br>
      <h3>Menu 2</h3>
      <p>Second menu goes here</p>
    </div>
  </div>
</div>
       <div class="meal">
        <h2>Lunch</h2>
        <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#menu1lunch">Menu 1</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2lunch">Menu 2</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="menu1lunch" class="container-fluid tab-pane active"><br>
     {{!--  <button class="btn btn-subscribe"><span><i class="fas fa-star"></i></span>Subscribe to Menu 1</button> --}}
      <div class="row">
         <div class="col-sm-6 col-md-4 col-lg-2">
          <h5>Monday</h5>
          <div class="meal-img">
        <img class=" rounded-circle" src="img/3.jpg">
        
        <div class="mealinfo">
        <h5 class="name">HomeStyle #1</h5>
        <div class="btn-wrapper" > 
         <button class="btn btn-cart"><span><i class="fas fa-shopping-cart"></i></span>Add to cart</button>
        <button class="btn btn-buy"><span><i class="fas fa-bolt"></i></span>Buy Now</button>
      </div>
      </div>
        </div>
        </div>
         <div class="col-sm-6 col-md-4 col-lg-2">
          <h5>Tuesday</h5>
          <div class="meal-img">
        <img class=" rounded-circle" src="img/1.jpg">
        
        <div class="mealinfo">
        <h5 class="name">HomeStyle #2</h5>
        <div class="btn-wrapper"  > 
        <button class="btn btn-cart"><span><i class="fas fa-shopping-cart"></i></span>Add to cart</button>
        <button class="btn btn-buy"><span><i class="fas fa-bolt"></i></span>Buy Now</button>
      </div>
      </div>
        </div>
        </div>
         <div class="col-sm-6 col-md-4 col-lg-2">
          <h5>Wednesday</h5>
          <div class="meal-img">
        <img class=" rounded-circle" src="img/2.jpg">
        
        <div class="mealinfo">
        <h5 class="name">HomeStyle #1</h5>
        <div class="btn-wrapper"  > 
       <button class="btn btn-cart"><span><i class="fas fa-shopping-cart"></i></span>Add to cart</button>
        <button class="btn btn-buy"><span><i class="fas fa-bolt"></i></span>Buy Now</button>
      </div>
      </div>
        </div>
        </div>
         <div class="col-sm-6 col-md-4 col-lg-2">
          <h5>Thursday</h5>
          <div class="meal-img">
        <img class=" rounded-circle" src="img/3.jpg">
      
        <div class="mealinfo">
        <h5 class="name">HomeStyle #1</h5>
        <div class="btn-wrapper"  > 
       <button class="btn btn-cart"><span><i class="fas fa-shopping-cart"></i></span>Add to cart</button>
        <button class="btn btn-buy"><span><i class="fas fa-bolt"></i></span>Buy Now</button>
        </div>
      </div>
        </div>
        </div>
         <div class="col-sm-6 col-md-4 col-lg-2">
          <h5>Friday</h5>
          <div class="meal-img">
        <img class=" rounded-circle" src="img/1.jpg">
        
        <div class="mealinfo">
        <h5 class="name">HomeStyle #1</h5>
        <div class="btn-wrapper"  > 
        <button class="btn btn-cart"><span><i class="fas fa-shopping-cart"></i></span>Add to cart</button>
        <button class="btn btn-buy"><span><i class="fas fa-bolt"></i></span>Buy Now</button>
        </div>
      </div>
        </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-2">
          <h5>Saturday</h5>
          <div class="meal-img">
        <img class=" rounded-circle" src="img/1.jpg">
        </div>
        <div class="mealinfo">
        <h5 class="name">HomeStyle #1</h5>
        <div class="btn-wrapper"  > 
       <button class="btn btn-cart"><span><i class="fas fa-shopping-cart"></i></span>Add to cart</button>
        <button class="btn btn-buy"><span><i class="fas fa-bolt"></i></span>Buy Now</button>
      </div>
        </div>
        </div>
      </div>
    </div>
    <div id="menu2lunch" class="container tab-pane fade"><br>
      <h3>Menu 2</h3>
      <p>Second menu goes here</p>
    </div>
  </div>
       </div>
       <div class="meal">
       <h2>Dinner</h2>
       </div>
    </section>
    <section class="content container-fluid">
      <h2><span class="pastorder"><i class="far fa-clock"></i></span> Past orders</h2>
      <div class="pastordertable">
      <table class="table table-bordered table-hover table-responsive-sm">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Meal Name</th>
      <th scope="col">Meal type</th>
      <th scope="col">Order Date</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"><div class="meal-img">
        <img class=" rounded-circle" src="img/3.jpg">
        </div></th>
      <td>Salad</td>
      <td>Breakfast</td>
      <td>1st Dec 2018</td>
      <td>
        <button class="btn btn-cart"><span><i class="fas fa-shopping-cart"></i></span>Add to cart</button>
        <button class="btn btn-buy"><span><i class="fas fa-bolt"></i></span>Buy Now</button>
      </td>
    </tr>
     <tr>
      <th scope="row"><div class="meal-img">
        <img class=" rounded-circle" src="img/2.jpg">
        </div></th>
      <td>Lunch</td>
      <td>Pizza</td>
      <td>2nd Dec 2018</td>
      <td>
        <button class="btn btn-cart"><span><i class="fas fa-shopping-cart"></i></span>Add to cart</button>
        <button class="btn btn-buy"><span><i class="fas fa-bolt"></i></span>Buy Now</button>
    </tr>
     <tr>
      <th scope="row"><div class="meal-img">
        <img class=" rounded-circle" src="img/1.jpg">
        </div></th>
      <td>Oats</td>
      <td>Breakfast</td>
      <td>3rd Dec 2018</td>
      <td>
         <button class="btn btn-cart"><span><i class="fas fa-shopping-cart"></i></span>Add to cart</button>
        <button class="btn btn-buy"><span><i class="fas fa-bolt"></i></span>Buy Now</button>
      </td>
    </tr>
  </tbody>
</table>
 </div>
    </section>
   
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
   
    <strong>Copyright &copy; 2019 <a href="#">Gramleys</a>.</strong> All rights reserved.
  </footer>
 
</div>

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>