<head>
    <link rel="stylesheet" href="css/test.css">
</head>
<div id="website">
    <div id="crouseltop">
        <div class="carousel slide carousel-fade" data-ride="carousel" id="carousel-1">
            <div class="carousel-inner" role="listbox">
                <div class="carousel-item active">
                    <img class="w-100 d-block" src="img/bg2.jpg" alt="Slide Image">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="carouselTop-Text">... Amazing Food ...</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100 d-block" src="img/bg3.jpg" alt="Slide Image">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="carouselTop-Text">... Best Subscription Plans ...</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100 d-block" src="img/bg4.jpg" alt="Slide Image">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="carouselTop-Text">... Top Rated Kitchens ...</h5>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="w-100 d-block" src="img/bg1.jpg" alt="Slide Image">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="carouselTop-Text">... Fresh From Kitchen ...</h5>
                    </div>
                </div>
            </div>
            <div>
                <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a>
                <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a>
            </div>
        </div>
    </div>
    <div class="container circles">
        <div class="row col-md-12 mx-auto">
            <div class="col-md-4 col-sm-4 col-xs-4 col-4 strip" id="strip1">
                <img class="w-50 img-fluid strip-img" src="/img/circle1.png"><br>
                <p class="strip-text">Breakfast</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-4 strip" id="strip2">
                <img class="w-50 img-fluid strip-img" src="/img/circle2.png"><br>
                <p class="strip-text">Lunch</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4 col-4 strip" id="strip3">
                <img class="w-50 img-fluid strip-img" src="/img/circle3.png"><br>
                <p class="strip-text">Dinner</p>
            </div>
        </div><br>
        <h1 class="text-center fantasy">Whats on our Table?</h1>
    </div>
    <div class="container">
        <div>
            <div class="menuChooser collapse navbar-collapse" id="menuChooser">
                <ul class="nav nav-tabs nav-justified">
                    <li class="nav-item col-2"><a class="btn nav-link active text-dark" role="tab" data-toggle="tab" href="#nonveg">Non-Veg</a></li>
                    <li class="nav-item col-2"><a class="btn nav-link text-dark" role="tab" data-toggle="tab" href="#veg">Veg</a></li>
                    <li class="nav-item col-3"><a class="btn nav-link text-dark" role="tab" data-toggle="tab" href="#ricebowls">Rice Bowls</a></li>
                    <li class="nav-item col-3"><a class="btn nav-link text-dark" role="tab" data-toggle="tab" href="#protein">Protein Packed</a></li>
                    <li class="nav-item col-2"><a class="btn nav-link text-dark" role="tab" data-toggle="tab" href="#salads">Salads</a></li>        
                </ul>
                <ul class="slickTabs nav mobileMenu nav-justified">
                    <li class="nav-item"><a class="btn nav-link active text-dark" role="tab" data-toggle="tab" href="#nonveg">Non-Veg</a></li>
                    <li class="nav-item"><a class="btn nav-link text-dark" role="tab" data-toggle="tab" href="#veg">Veg</a></li>
                    <li class="nav-item"><a class="btn nav-link text-dark" role="tab" data-toggle="tab" href="#ricebowls">Rice Bowls</a></li>
                    <li class="nav-item"><a class="btn nav-link text-dark" role="tab" data-toggle="tab" href="#protein">Protein Packed</a></li>
                    <li class="nav-item"><a class="btn nav-link text-dark" role="tab" data-toggle="tab" href="#salads">Salads</a></li>    
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" role="tabpanel" id="nonveg">
                    <div class="container">
                        <div class="card-deck">
                            <div class="card cardt col-md-6 col-lg-4 col-xl-4"  style="width: auto;">
                                <img class="card-img-top cardimg" src="img/1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">South Indian</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card cardt col-md-6 col-lg-4 col-xl-4" style="width: auto;">
                                <img class="card-img-top cardimg" src="img/2.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">North Indian</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <!--<a href="#" class="btn btn-primary btn-sm">Go somewhere</a> -->
                                </div>
                            </div>
                            <div class="card cardt col-md-6 col-lg-4 col-xl-4" style="width: auto;">
                                <img class="card-img-top cardimg" src="img/3.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Punjabi</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <!--<a href="#" class="btn btn-primary btn-sm">Go somewhere</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="tab-pane" role="tabpanel" id="veg">
                    <div class="container">
                        <div class="card-deck">
                            <div class="card cardt col-md-6 col-lg-4 col-xl-4"  style="width: auto;">
                                <img class="card-img-top cardimg" src="https://www.manjulaskitchen.com/blog/wp-content/uploads/everyday-lunch-menu.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">South Indian lunch</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card cardt col-md-6 col-lg-4 col-xl-4" style="width: auto;">
                                <img class="card-img-top cardimg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5Dw4VsxeA7Gf2oVmCw_fSjZaTq01yBBYRNuYo4d7Q03b2z90O" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">North Indian lunch</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <!--<a href="#" class="btn btn-primary btn-sm">Go somewhere</a> -->
                                </div>
                            </div>
                            <div class="card cardt col-md-6 col-lg-4 col-xl-4" style="width: auto;">
                                <img class="card-img-top cardimg" src="https://4.bp.blogspot.com/-Q06jsb3aBO0/VImHRQK1JbI/AAAAAAAAgPo/hivEuxq5c9Y/s1600/IMG_6588.JPG" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Punjabi lunch</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <!--<a href="#" class="btn btn-primary btn-sm">Go somewhere</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="ricebowls">
                    <div class="container">
                        <div class="card-deck">
                            <div class="card cardt col-md-6 col-lg-4 col-xl-4"  style="width: auto;">
                                <img class="card-img-top cardimg" src="img/1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">South Indian</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card cardt col-md-6 col-lg-4 col-xl-4" style="width: auto;">
                                <img class="card-img-top cardimg" src="img/2.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">North Indian</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <!--<a href="#" class="btn btn-primary btn-sm">Go somewhere</a> -->
                                </div>
                            </div>
                            <div class="card cardt col-md-6 col-lg-4 col-xl-4" style="width: auto;">
                                <img class="card-img-top cardimg" src="img/3.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Punjabi</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <!--<a href="#" class="btn btn-primary btn-sm">Go somewhere</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="protein">
                    <div class="container">
                        <div class="card-deck">
                            <div class="card cardt col-md-6 col-lg-4 col-xl-4"  style="width: auto;">
                                <img class="card-img-top cardimg" src="https://www.manjulaskitchen.com/blog/wp-content/uploads/everyday-lunch-menu.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">South Indian lunch</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card cardt col-md-6 col-lg-4 col-xl-4" style="width: auto;">
                                <img class="card-img-top cardimg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5Dw4VsxeA7Gf2oVmCw_fSjZaTq01yBBYRNuYo4d7Q03b2z90O" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">North Indian lunch</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <!--<a href="#" class="btn btn-primary btn-sm">Go somewhere</a> -->
                                </div>
                            </div>
                            <div class="card cardt col-md-6 col-lg-4 col-xl-4" style="width: auto;">
                                <img class="card-img-top cardimg" src="https://4.bp.blogspot.com/-Q06jsb3aBO0/VImHRQK1JbI/AAAAAAAAgPo/hivEuxq5c9Y/s1600/IMG_6588.JPG" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Punjabi lunch</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <!--<a href="#" class="btn btn-primary btn-sm">Go somewhere</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" role="tabpanel" id="salads">
                    <div class="container">
                        <div class="card-deck">
                            <div class="card cardt col-md-6 col-lg-4 col-xl-4"  style="width: auto;">
                                <img class="card-img-top cardimg" src="img/2.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">South Indian</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                            </div>
                            <div class="card cardt col-md-6 col-lg-4 col-xl-4" style="width: auto;">
                                <img class="card-img-top cardimg" src="img/3.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">North Indian</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <!--<a href="#" class="btn btn-primary btn-sm">Go somewhere</a> -->
                                </div>
                            </div>
                            <div class="card cardt col-md-6 col-lg-4 col-xl-4" style="width: auto;">
                                <img class="card-img-top cardimg" src="img/1.jpg" alt="Card image cap">
                                <div class="card-body">
                                    <h6 class="card-title">Punjabi</h6>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                    <!--<a href="#" class="btn btn-primary btn-sm">Go somewhere</a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="topcontent2 "id="offers">
        <span class="align-middle"><button type="button" class="btn btn-primary btn-md mx-auto">Order Now</button></span>
        <h2 class="text-center fantasy">Want To Know More??</h2>
        <p class="text-center">We cannot beat mother's but well'l try our best..</p>
    </div>
    <div class="lowcontent">
        <div class="card-columns">
            <div class="card p-2">
                <img alt="Card image cap" class="card-img-top img-fluid cardi" src="https://media.istockphoto.com/photos/indian-food-picture-id526749337?k=6&m=526749337&s=612x612&w=0&h=Wibu9NVR0yuZ-Egv9ppF3-On4qkjxYp1h92kvj50_vg=">
                <div class="card-block">
                    <h4 class="card-title">The best in class Food</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            <div class="card p-3">
                <img alt="Card image cap" class="card-img-top img-fluid cardi" src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe_images/recipe-image-legacy-id--871543_11.jpg?itok=Fem3iY4H">
                <div class="card-block">
                    <h4 class="card-title">Get customization option as per your tounge</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            <div class="card p-2">
                <img alt="Card image cap" class="card-img-top img-fluid cardi" src="https://s3-media2.fl.yelpcdn.com/bphoto/ynj5HBZ4MvYeNzeYBrQcJg/o.jpg">
                <div class="card-block">
                    <h4 class="card-title">Talior made subscriptions just like your Mom</h4>
                    <span class="badge badge-success">Healthy</span>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            <div class="card p-2">
                <img alt="Card image cap" class="card-img-top img-fluid cardi" src="https://www.bbcgoodfood.com/sites/default/files/styles/recipe/public/recipe_images/recipe-image-legacy-id--871543_11.jpg?itok=Fem3iY4H">
                <div class="card-block">
                    <h4 class="card-title">Balaced diet as per individual</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
            </div>
            <div class="card p-3">
                <img alt="Card image cap" class="card-img-top img-fluid cardi" src="https://s3-media2.fl.yelpcdn.com/bphoto/ynj5HBZ4MvYeNzeYBrQcJg/o.jpg">
                <div class="card-block">
                    <h4 class="card-title">Best in class variety</h4>
                    <p class="card-text">Keeping a straight face in a conversation can be more difficult than it seems.</p>
                </div>
            </div>		
            <div class="card p-3">
                <img alt="Card image cap" class="card-img-top img-fluid cardi" src="https://media.istockphoto.com/photos/indian-food-picture-id526749337?k=6&m=526749337&s=612x612&w=0&h=Wibu9NVR0yuZ-Egv9ppF3-On4qkjxYp1h92kvj50_vg=">
                <div class="card-block">
                    <h4 class="card-title">Repeat on Demand</h4>
                    <p class="card-text">Keeping a straight face in a conversation can be more difficult than it seems.</p>
                </div>
            </div>
        </div>
    </div>
</div>    
