<div class="carousel slide" data-ride="carousel" id="carousel-1">
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item active">
            <img class="w-100 d-block" src="img/bg2.jpg" alt="Slide Image">
            <div class="carousel-caption d-none d-md-block">
                    <h5>Breakfast</h5>
                    <p>Some Details Here</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="w-100 d-block" src="img/bg3.jpg" alt="Slide Image">
            <div class="carousel-caption d-none d-md-block">
                    <h5>Lunch</h5>
                    <p>Some More Details Here</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="w-100 d-block" src="img/bg1.jpg" alt="Slide Image">
            <div class="carousel-caption d-none d-md-block">
                    <h5>Dinner</h5>
                    <p>Some Extra Details Here</p>
            </div>
        </div>
        <div class="carousel-item">
            <img class="w-100 d-block" src="img/bg1.jpg" alt="Slide Image">
            <div class="carousel-caption d-none d-md-block">
                    <h5>Dinner</h5>
                    <p>Some Extra Details Here</p>
            </div>
        </div>
    </div>
    <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev"><span class="carousel-control-prev-icon"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next"><span class="carousel-control-next-icon"></span><span class="sr-only">Next</span></a></div>
    <ol class="carousel-indicators">
        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-1" data-slide-to="1"></li>
        <li data-target="#carousel-1" data-slide-to="2"></li>
    </ol>
</div>
<div class="article-list" id="menu" style="background-color:#DFE2D2;">
    <div class="container">
            <div class="intro"><br>
                <h1 class="text-center text-dark">Today's Menu </h1>
                <p class="text-center text-dark">We Have Different Variations in HomeStyle, RiceBowls, Protein Packed and Salad Categories...</p>
            </div><br>
        <div>
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item" style="background-color:#56c6c6"><a class="nav-link active text-dark" role="tab" data-toggle="tab" href="/hometest">HomeTest</a></li>
                <li class="nav-item" style="background-color:#56c6c6"><a class="nav-link text-dark" role="tab" data-toggle="tab" href="#rice">Breakfast</a></li>
                <li class="nav-item" style="background-color:#56c6c6"><a class="nav-link text-dark" role="tab" data-toggle="tab" href="#protein">Protein Packed</a></li>
                <li class="nav-item" style="background-color:#56c6c6"><a class="nav-link text-dark" role="tab" data-toggle="tab" href="#salads">Lunch</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" role="tabpanel" id="homestyle">
                <div class="row">
                    <div class="col-xs-2 col-md-3 item"><a href="#"><img class="img-fluid rounded-circle mx-auto" src="img/1.jpg"></a>
                        <h3 class="name">HomeStyle #1</h3>
                       
                        <hr>
                        <a href="#" class="button btn-info" style="float: right; padding:5px; border-radius: 12px; margin-bottom: 3px;">120 ₹ <i class="fa fa-shopping-cart"></i></a>
                    </div>
                    <div class="col-xs-2 col-md-3 item"><a href="#"><img class="img-fluid rounded-circle mx-auto" src="img/2.jpg"></a>
                        <h3 class="name">HomeStyle #2</h3>
                       
                        <hr>
                        <a href="#" class="button btn-success" style="float: right; padding:5px; border-radius: 12px; margin-bottom: 3px;">  150 ₹ <i class="fa fa-shopping-cart">  </i></a>
                    </div>
                    <div
                        class="col-xs-2 col-md-3 item"><a href="#"><img class="img-fluid rounded-circle mx-auto"  src="img/3.jpg"></a>
                        <h3 class="name">HomeStyle #3</h3>
                       
                        <hr>
                        <a href="#" class="button btn-warning" style="float: right; padding:5px; border-radius: 12px; margin-bottom: 3px;">125 ₹ <i class="fa fa-shopping-cart"></i></a>
                    </div>
                    <div
                        class="col-xs-2 col-md-3 item"><a href="#"><img class="img-fluid rounded-circle mx-auto"  src="img/2.jpg"></a>
                        <h3 class="name">HomeStyle #4</h3>
                       
                        <hr>
                        <a href="#" class="button btn-primary" style="float: right; padding:5px; border-radius: 12px; margin-bottom: 3px;">125 ₹ <i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
              </div>
              <div class="tab-pane" role="tabpanel" id="rice">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item"><a href="#"><img class="img-fluid rounded-circle mx-auto" src="img/1.jpg"></a>
                        <h3 class="name">Rice Bowls #1</h3>
                        <hr>
                        <a href="#" class="button btn-info" style="float: right; padding:5px; border-radius: 12px; margin-bottom: 3px;">120 ₹ <i class="fa fa-shopping-cart"></i></a>
                    </div>
                    <div
                        class="col-sm-6 col-md-3 item"><a href="#"><img class="img-fluid rounded-circle mx-auto" src="img/2.jpg"></a>
                        <h3 class="name">Rice Bowls #2</h3>
                        <hr>
                        <a href="#" class="button btn-success" style="float: right; padding:5px; border-radius: 12px; margin-bottom: 3px;">  150 ₹ <i class="fa fa-shopping-cart">  </i></a>
                    </div>
                    <div
                        class="col-sm-6 col-md-3 item"><a href="#"><img class="img-fluid rounded-circle mx-auto"  src="img/3.jpg"></a>
                        <h3 class="name">Rice Bowls #3</h3>
                        <hr>
                        <a href="#" class="button btn-warning" style="float: right; padding:5px; border-radius: 12px; margin-bottom: 3px;">125 ₹ <i class="fa fa-shopping-cart"></i></a>
                    </div>
                    <div
                        class="col-sm-6 col-md-3 item"><a href="#"><img class="img-fluid rounded-circle mx-auto"  src="img/2.jpg"></a>
                        <h3 class="name">Rice Bowls #4</h3>
                        <hr>
                        <a href="#" class="button btn-primary" style="float: right; padding:5px; border-radius: 12px; margin-bottom: 3px;">125 ₹ <i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
              </div>
              <div class="tab-pane" role="tabpanel" id="protein">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item"><a href="#"><img class="img-fluid rounded-circle mx-auto" src="img/1.jpg"></a>
                        <h3 class="name">Protein Packed #1</h3>
                        
                        <hr>
                        <a href="#" class="button btn-info" style="float: right; padding:5px; border-radius: 12px; margin-bottom: 3px;">120 ₹ <i class="fa fa-shopping-cart"></i></a>
                    </div>
                    <div
                        class="col-sm-6 col-md-3 item"><a href="#"><img class="img-fluid rounded-circle mx-auto" src="img/2.jpg"></a>
                        <h3 class="name">Protein Packed #2</h3>
                        
                        <hr>
                        <a href="#" class="button btn-success" style="float: right; padding:5px; border-radius: 12px; margin-bottom: 3px;">  150 ₹ <i class="fa fa-shopping-cart">  </i></a>
                    </div>
                    <div
                        class="col-sm-6 col-md-3 item"><a href="#"><img class="img-fluid rounded-circle mx-auto"  src="img/3.jpg"></a>
                        <h3 class="name">Protein Packed #3</h3>
                        
                        <hr>
                        <a href="#" class="button btn-warning" style="float: right; padding:5px; border-radius: 12px; margin-bottom: 3px;">125 ₹ <i class="fa fa-shopping-cart"></i></a>
                    </div>
                    <div
                        class="col-sm-6 col-md-3 item"><a href="#"><img class="img-fluid rounded-circle mx-auto"  src="img/2.jpg"></a>
                        <h3 class="name">Protein Packed #4</h3>
                        
                        <hr>
                        <a href="#" class="button btn-primary" style="float: right; padding:5px; border-radius: 12px; margin-bottom: 3px;">125 ₹ <i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
              </div>
              <div class="tab-pane" role="tabpanel" id="salads">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item"><a href="#"><img class="img-fluid rounded-circle mx-auto" src="img/2.jpg"></a>
                        <h3 class="name">Salads #1</h3>
                        
                        <hr>
                        <a href="#" class="button btn-info" style="float: right; padding:5px; border-radius: 12px; margin-bottom: 3px;">120 ₹ <i class="fa fa-shopping-cart"></i></a>
                    </div>
                    <div
                        class="col-sm-6 col-md-3 item"><a href="#"><img class="img-fluid rounded-circle mx-auto" src="img/3.jpg"></a>
                        <h3 class="name">Salads #2</h3>
                        
                        <hr>
                        <a href="#" class="button btn-success" style="float: right; padding:5px; border-radius: 12px; margin-bottom: 3px;">  150 ₹ <i class="fa fa-shopping-cart">  </i></a>
                    </div>
                    <div
                        class="col-sm-6 col-md-3 item"><a href="#"><img class="img-fluid rounded-circle mx-auto"  src="img/1.jpg"></a>
                        <h3 class="name">Salads #3</h3>
                        
                        <hr>
                        <a href="#" class="button btn-warning" style="float: right; padding:5px; border-radius: 12px; margin-bottom: 3px;">125 ₹ <i class="fa fa-shopping-cart"></i></a>
                    </div>
                    <div
                        class="col-sm-6 col-md-3 item"><a href="#"><img class="img-fluid rounded-circle mx-auto"  src="img/2.jpg"></a>
                        <h3 class="name">Salads #4</h3>
    
                        <hr>
                        <a href="#" class="button btn-primary" style="float: right; padding:5px; border-radius: 12px; margin-bottom: 3px;">125 ₹ <i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
<div class="article-list" id="subscriptions" style="background-color:#a0c1b8; margin-top: 4px;">
    <div class="container">
            <div class="intro"><br>
                <h1 class="text-center text-dark">Our Subscription Options <i class="fa fa-heart d-inline"></i></h1>
                <p class="text-center text-dark">We Have Different Options for people who want to Subscribe our Means... Longer Subscription means More Offers...</p>
            </div><hr>
        <div>
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item"><a class="nav-link active text-dark" style="background-color:#E0C341" data-toggle="tab" role="tab" href="#three">3 Days</a></li>
                <li class="nav-item"><a class="nav-link text-dark" style="background-color:#E0C341" data-toggle="tab" href="#five">5 Days</a></li>
                <li class="nav-item"><a class="nav-link text-dark" style="background-color:#E0C341" role="tab" data-toggle="tab" href="#seven">7 Days</a></li>
                <li class="nav-item"><a class="nav-link text-dark" style="background-color:#E0C341" role="tab" data-toggle="tab" href="#twenty">20 Days</a></li>
                <li class="nav-item"><a class="nav-link text-dark" style="background-color:#E0C341" role="tab" data-toggle="tab" href="#thirty">30 Days</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="three">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-center">3-Day Subscription</h4>
                            <h6 class="text-center">These are few of the options for our 3-Day Subscription plans...</h6>
                            <p class="text-center">Choose any of the following, or choose a mix of them...</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs2.png">
                            <p class="text-center"><strong>Item1 : </strong><small>25 ₹</small></p>
                        </div>
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs3.png">
                            <p class="text-center"><strong>Item2 : </strong><small>26 ₹</small></p>
                        </div>
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs1.png">
                            <p class="text-center"><strong>Item3 : </strong><small>25 ₹</small></p>
                        </div>
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs2.png">
                            <p class="text-center"><strong>Item4 : </strong><small>28 ₹</small></p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="tab-pane fade" id="five">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-center">5-Day Subscription</h4>
                            <h6 class="text-center">These are few of the options for our 5-Day Subscription plans...</h6>
                            <p class="text-center">Choose any of the following, or choose a mix of them...</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <img src="img/subs2.png">
                        </div>
                        <div class="col-md-3">
                            <img src="img/subs3.png">
                        </div>
                        <div class="col-md-3">
                            <img src="img/subs1.png">
                        </div>
                        <div class="col-md-3">
                            <img src="img/subs2.png">
                        </div>
                    </div>
                </div>
              </div>
              <div class="tab-pane fade" role="tabpanel" id="seven">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-center">7-Day Subscription</h4>
                            <h6 class="text-center">These are few of the options for our 7-Day Subscription plans...</h6>
                            <p class="text-center">Choose any of the following, or choose a mix of them...</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs2.png">
                            <p class="text-center"><strong>Item1 : </strong><small>25 ₹</small></p>
                        </div>
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs3.png">
                            <p class="text-center"><strong>Item2 : </strong><small>26 ₹</small></p>
                        </div>
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs1.png">
                            <p class="text-center"><strong>Item3 : </strong><small>25 ₹</small></p>
                        </div>
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs2.png">
                            <p class="text-center"><strong>Item4 : </strong><small>28 ₹</small></p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="tab-pane fade" role="tabpanel" id="twenty">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-center">20-Day Subscription</h4>
                            <h6 class="text-center">These are few of the options for our 20-Day Subscription plans...</h6>
                            <p class="text-center">Choose any of the following, or choose a mix of them...</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs2.png">
                            <p class="text-center"><strong>Item1 : </strong><small>25 ₹</small></p>
                        </div>
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs3.png">
                            <p class="text-center"><strong>Item2 : </strong><small>26 ₹</small></p>
                        </div>
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs1.png">
                            <p class="text-center"><strong>Item3 : </strong><small>25 ₹</small></p>
                        </div>
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs2.png">
                            <p class="text-center"><strong>Item4 : </strong><small>28 ₹</small></p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="tab-pane fade" role="tabpanel" id="thirty">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-center">30-Day Subscription</h4>
                            <h6 class="text-center">These are few of the options for our 30-Day Subscription plans...</h6>
                            <p class="text-center">Choose any of the following, or choose a mix of them...</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs2.png">
                            <p class="text-center"><strong>Item1 : </strong><small>25 ₹</small></p>
                        </div>
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs3.png">
                            <p class="text-center"><strong>Item2 : </strong><small>26 ₹</small></p>
                        </div>
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs1.png">
                            <p class="text-center"><strong>Item3 : </strong><small>25 ₹</small></p>
                        </div>
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs2.png">
                            <p class="text-center"><strong>Item4 : </strong><small>28 ₹</small></p>
                        </div>
                    </div>
                </div>
              </div>
              <div class="tab-pane fade" role="tabpanel" id="more">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-center">Custom Subscription</h4>
                            <h6 class="text-center">Please select a Custom Plan for Yourself...</h6>
                            <p class="text-center">Choose any of the following, or choose a mix of them...</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs2.png">
                            <p class="text-center"><strong>Item1 : </strong><small>25 ₹</small></p>
                        </div>
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs3.png">
                            <p class="text-center"><strong>Item2 : </strong><small>26 ₹</small></p>
                        </div>
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs1.png">
                            <p class="text-center"><strong>Item3 : </strong><small>25 ₹</small></p>
                        </div>
                        <div class="col-md-3 col-xs-2 col-sm-2">
                            <img src="img/subs2.png">
                            <p class="text-center"><strong>Item4 : </strong><small>28 ₹</small></p>
                        </div>
                    </div>
                </div>
              </div>
            </div><br>
        </div>
    </div>
</div>
<div class="container-fluid" style="background-color:#A0D468; opacity:0.82;"><br>
    <h4 class="text-dark" style="text-align:center; opacity:0.82;">Feedbacks <i class="fa fa-heart d-inline"></i></h4>
    <div class="row">
        <div class="col-12"><br><br>
          <div class="carousel slide" data-ride="carousel" id="carouselArchitecture">
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item carousel-item-next carousel-item-left">
                <img class="d-block img-fluid rounded-circle mx-auto" src="img/testimonial_1_dark.jpg" data-holder-rendered="true" width="200">
                <p class="my-3 text-center">So good and super staff.<br>Go for the shrimps!.</p>
                <!--<i class="fa fa-star d-inline"></i><i class="fa fa-star mx-1 d-inline"></i><i class="fa fa-star d-inline"></i><i class="fa fa-star mx-1 d-inline"></i><i class="fa fa-star-o d-inline"></i>-->
              </div>
              <div class="carousel-item">
                <img class="d-block img-fluid rounded-circle mx-auto" src="img/testimonial_2_dark.jpg" data-holder-rendered="true" width="200">
                <p class="my-3 text-center">Super enthusiastic about this place.<br>They even play live music.</p>
                <!--<i class="fa fa-star d-inline"></i><i class="fa fa-star mx-1 d-inline"></i><i class="fa fa-star d-inline"></i><i class="fa fa-star mx-1 d-inline"></i> <i class="fa fa-star d-inline"></i>-->
              </div>
              <div class="carousel-item active carousel-item-left">
                <img class="d-block img-fluid rounded-circle mx-auto" src="img/testimonial_3_dark.jpg" data-holder-rendered="true" width="200">
                <p class="my-3 text-center">It was since a while that I ate that good.<br>Definitely recommended.</p>
                <!--- <i class="fa fa-star d-inline"></i><i class="fa fa-star mx-1 d-inline"></i><i class="fa fa-star d-inline"></i><i class="fa fa-star-half-o mx-1 d-inline"></i><i class="fa fa-star-o d-inline"></i>-->
              </div>
            </div><br>
            <ol
                class="carousel-indicators">
                <li data-target="#carouselArchitecture" data-slide-to="0" class="active"></li>
                <li data-target="#carouselArchitecture" data-slide-to="1"></li>
                <li data-target="#carouselArchitecture" data-slide-to="2"></li>
            </ol>
          </div>
        </div>
    </div>
</div><br>
<div class="container-fluid" id="kitchens">
    <h3 class="title text-center">Our Kitchens <i class="fa fa-heart d-inline"></i></h3><br>
    <div class="kitchen-logos">
        <button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;">Previous</button>
        <div class="content slickslide"><img src="img/logo1.png"></div>
        <div class="content slickslide"><img src="img/logo2.png"></div>
        <div class="content slickslide"><img src="img/logo3.png"></div>
        <div class="content slickslide"><img src="img/logo4.png"></div>
        <div class="content slickslide"><img src="img/lo.png"></div>
        <div class="content slickslide"><img src="img/logo6.png"></div>
        <div class="content slickslide"><img src="img/logo7.png"></div>
        <div class="content slickslide"><img src="img/logo8.png"></div>
        <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">Next</button>
    </div>
</div>