<head>
    <link rel="stylesheet" href="css/login.css">
    <link  href="js/login.js">
</head>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 login">
            <form action="" method="POST">
                <h3>Gramleys</h3>
                <div class="form-group">
                    <label for="InputEmail">Email address</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" required id="email" value="test@gramley.com" />
                </div>
                <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" id="pass" />
                </div>
                <br>
                <button type="submit" name="go" class="btn btn-lg btn-primary formbtn">Login</button>
                <button type="submit" name="go" class="btn btn-lg btn-primary formbtn">Create</button>
                <br>
                <a href="#" class="float-right">Forgot password</a>
            </form>
        </div>
    </div>
</div>