<head>
    <link rel="stylesheet" href="css/login.css">
    <link  href="js/login.js">
</head>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 login">
            <form  method="POST">
                <h3>Gramleys</h3>
                <div class="form-group">
                    <label for="InputEmail">Email address</label>
                    <input type="email" class="form-control" name="email" placeholder="Email" required id="email" value="test@gramley.com" />
                </div>
                <div class="form-group">
                    <label for="InputPassword">Password</label>
                    <input type="password" class="form-control" name="password" placeholder="Password" id="pass" />
                </div>
                <br>
                <button type="submit" name="login" class="btn btn-lg btn-primary formbtn">Login</button>
                <button type="button" name="create" class="btn btn-lg btn-primary formbtn" data-toggle="modal" data-target="#exampleModal">Create</button>
                <br>
                <div class="float-right">
                    <a href="#" class="float-right">Forgot password</a>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade signup" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modalcolor">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Signup</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <form method="POST">
                        <div class="form-group">
                            <label for="InputEmail">Email address</label>
                            <input type="email" class="form-control" name="email" placeholder="Email" required id="email" value="test@gramley.com" />
                        </div>
                        <div class="form-group">
                            <label for="InputName">Full Name</label>
                            <input type="text" class="form-control" name="name" placeholder="Name" required id="name" value="NameTest" />
                        </div>
                        <div class="form-group">
                            <label for="InputNumber">Mobile Number</label>
                            <input type="text" class="form-control" name="number" min="1" max="10" placeholder="Mobile Number" required id="number">
                        </div>
                        <div class="row">
                            <div class="form-group d-inline col-md-4 col-lg-4">
                                <label for="InputAge">Age</label>
                                <input style="display: block;"type="number" class="form-control " name="quantity" min="10" max="100" placeholder="Age" required id="age">
                            </div>
                            <div class="form-group d-inline  col-md-4 col-lg-4">
                                <label for="InputAge">Weight(kg)</label>
                                <input style="display: block;" type="number" class="form-control " name="quantity" min="30" max="150" placeholder="Weight" required id="weight">
                            </div>
                            <div class="form-group d-inline col-md-4 col-lg-4">
                                <label for="InputAge">Height(cms)</label>
                                <input style="display: block;" type="number" class="form-control " name="quantity" min="100" max="200" placeholder="Height" required id="height">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-secondary" data-dismiss="modal">Create</button>
            </div>
        </div>
    </div>
</div>

